<h1>Shopping Cart</h1>
{{#each shoppingCart.items as |item|}}
  {{item.title}} -- {{item.cost}}
  <button {{action 'removeFromCart' item}}>Remove</button>
{{/each}}

Total: $ {{shoppingCart.totalCost}}
